
<h2>Link ve Anket Numarası</h2>


@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@{
    ViewData["Title"] = "Anket Oluşturuldu";
}

<h2>Anket Oluşturuldu</h2>

<p>Teşekkür ederiz! Anketiniz başarıyla oluşturuldu. Anket ID: @ViewBag.AnketId</p>

<p>url: @ViewBag.link</p>


