@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@model SurveyReply

<div class="mb-2">
    
    <div>

        
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">İsim ve soyisim</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" maxlength="25"></textarea>
            <div class="form-text">En Fazla 25 Karakter</div>
        </div>

    </div>
</div>

<div class="mb-4">
    Soru
    <div>
        <b>Hakemliğe başlamadan önce futbol oynadınız mı? </b>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1_1" checked>
        <label class="form-check-label" for="flexRadioDefault1_1">
            Evet
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1_2">
        <label class="form-check-label" for="flexRadioDefault1_2">
            Hayır
        </label>
    </div>
</div>

<div class="mb-4">
    Soru
    <div>
        <b>Bulunduğunuz klasmanın karar vermenizde etkisi var mıdır?* </b>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2_1" checked>
        <label class="form-check-label" for="flexRadioDefault2_1">
            Evet
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2_2">
        <label class="form-check-label" for="flexRadioDefault2_2">
            Hayır
        </label>
    </div>
</div>

<div class="mb-2">
    Soru
    <div>
        <b>Hakemlik mesleği ailenizde var mıydı? </b>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3_1" checked>
        <label class="form-check-label" for="flexRadioDefault3_1">
            Evet
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3_2">
        <label class="form-check-label" for="flexRadioDefault3_2">
            Hayır
        </label>
    </div>
</div>

<div class="mb-2">
    Soru
    <div>
        <b>Taraftar baskısı kararlarınızı etkiler mi? </b>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4_1" checked>
        <label class="form-check-label" for="flexRadioDefault4_1">
            Evet
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4_2">
        <label class="form-check-label" for="flexRadioDefault4_2">
            Hayır
        </label>
    </div>
</div>

<div class="mb-2">
    Soru
    <div>
        <b>Öğrenim durumunuz nedir? </b>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5_1" checked>
        <label class="form-check-label" for="flexRadioDefault5_1">
            İlkokul
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5_2">
        <label class="form-check-label" for="flexRadioDefault5_2">
            Ortaokul
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5_3">
        <label class="form-check-label" for="flexRadioDefault5_3">
            Üniversite
        </label>
    </div>
</div>


<div class="mb-2">
	Soru  <div>
		<b>Medeni haliniz nedir? </b>
	</div>

	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">

			evli
		</label>
	</div>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
		<label class="form-check-label" for="flexRadioDefault2">
			Bekar
		</label>
	</div>
</div>

<div class="mb-2">
	Soru
	<div>
		

		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label fw-bold">Karar verirken en önem verdiğiniz etkenler nelerdir?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="200"></textarea>
            <div class="form-text">En Fazla 250 Karakter</div>
		</div>

	</div>
</div>

<div class="mb-2">
    Soru
    <div>


        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Hakemlik dışında mesleğiniz nedir?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="200"></textarea>
            <div class="form-text">En Fazla 250 Karakter</div>
        </div>

    </div>
</div>

<div class="mb-2">
    Soru
    <div>


        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Karar verirken en önem verdiğiniz etkenler nelerdir?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="200"></textarea>
            <div class="form-text">En Fazla 250 Karakter</div>
        </div>

    </div>
</div>

<div class="mb-2">
    Soru
    <div>


        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Hakemlik stiliniz nasıldır?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="200"></textarea>
            <div class="form-text">En Fazla 250 Karakter</div>
        </div>

    </div>
</div>

<div class="mb-2">
    Soru
    <div>


        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Yaşınız kaçtır ?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="200"></textarea>
            <div class="form-text">En Fazla 250 Karakter</div>
        </div>

    </div>
</div>

<div class="mb-3">
    <button class="btn btn-primary">Ankete Katıl</button>
</div>



