@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Şifremi Unuttum</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label for="Email">Email</label>
        <input  name="Email" type="email" class="form-control"/>

        <button type="submit" class="btn btn-primary">Gönder</button>

    </div>


</form>