@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<div class="container">
    <div class="row mb-2">
        <div class="col">
            <img src="https://ajssarimg2.mediatriple.net/1576981.jpg?w=1200&h=675" class="img-fluid rounded" alt="resim yok">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-2"><strong>Oluşturan Kullanıcı</strong></div>
            <div class="mb-2">Muhammed Aktaş</div>
        </div>
        <div class="col">
            <div class="mb-2"><strong>Anketin adı</strong></div>
            <div class="mb-2">Futbol Hakem Anketi</div>
        </div>
        <div class="col">
            <div class="mb-2"><strong>Anketin açıklaması</strong></div>
            <div class="mb-2">Türk Futbol Hakemlerinin Kararlarını ve Stillerini Etkileyen Faktörler</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-2"><strong>Soru Sayısı</strong></div>
            <div class="mb-2">10</div>
        </div>
        <div class="col">
            <div class="mb-2"><strong>Anketin Oluşturulma Tarihi</strong></div>
            <div class="mb-2">06.10.2023</div>
        </div>
        <div class="col">
            <div class="mb-2"><strong>Katılımcı Sayısı</strong></div>
            <div class="mb-2">6</div>
        </div>
    </div>
</div>


<style>
    .table-container {
        text-align: center;
    }

        .table-container table {
            margin: auto;
        }
</style>

<div class="table-container mb-2">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th colspan="2">Katılımcı Listesi</th>
            </tr>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Katılım Tarihi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tahir Özdemir</td>
                <td>11.11.2023</td>
            </tr>
               <tr>
                <td>Ahmet Çelik</td>
                <td>9.11.2023</td>
            </tr>
               <tr>
                <td>Mehmet Yıldız</td>
                <td>1.11.2023</td>
            </tr>
            <tr>
                <td>Burak Yılmaz</td>
                <td>08.11.2023</td>
            </tr>
            <tr>
                <td>Efe Aydın</td>
                <td>08.11.2023</td>
            </tr>
            <tr>
                <td>Mehmet Ateş</td>
                <td>06.11.2023</td>
            </tr>
         
        </tbody>
    </table>
</div>

<div class="mb-3">

    <button href="/Home/SurveyJoin" type="button" class="btn btn-primary" id="Katıl">Katıl</button>
   


</div>